<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>key的原理</title>
    <script type="text/javascript" src="../JS/vue.js"></script>
</head>

<body>
    <!-- react、vue中的key有什么作用？
        1.虚拟DOM中key的作用
            key是虚拟DOM对象的标识，当状态中的数据发生变化时，Vue会根据【新数据】生成【新的虚拟DOM】
            随后Vue进行【新虚拟DOM】跟【旧虚拟DOM】的差异比较，比较规则如下：
        2.对比规则
            （1）旧的虚拟DOM中找到了与新的虚拟DOM相同的key：
                若虚拟DOM中内容不变，则直接复用；
                若虚拟DOM中内容变化，则生成新的真实DOM，随后替换页面中变部分的真实DOM
            （2）旧的虚拟DOM中未找到相同的key:
                创建新的真实DOM，随后渲染到页面
        3.用index作为key可能引发的问题：
            （1）若对数进行：逆序添加、删除等【破换顺序】的操作：
                    会产生没有必要的真实DOM更新 ==>界面效果没问题，但效率低
            （2）如果结构中还包含输入类的DOM：
                    会产生错误DOM更新 ==>界面有问题 （数据顺序不匹配）
        4.开发中如何选择key
            1.最好使用数据的唯一标识作为key，比如 ID、手机号、身份证等。
            2.如果不存在对数据的逆序操作，仅用于渲染展示，使用index作为key也是可以的。 -->
    <div id="root">
        <div id="root">
            <h2>人员列表</h2>
            <ul>
                <!-- 遍历数组 -->
                <!-- 用index作为key在数组前面添加数据产生的问题 -->
                <button @click.once='add'>添加一个人</button>
                <li v-for="(p,index) in persons" :key="index">{{p.name}}-{{p.age}} <input type="text"></li>
                <li v-for="(a,b,c) in persons" :key="a.id">{{a}}-{{a.id}}-{{b}}-{{c}}</li>



        </div>
        <script type="text/javascript">
            const vm = new Vue({
                el: '#root',
                data: {
                    persons: [{
                            id: '01',
                            name: 'A',
                            age: 18
                        },
                        {
                            id: '02',
                            name: 'B',
                            age: 19
                        },
                        {
                            id: '03',
                            name: 'C',
                            age: 20
                        }
                    ],
                },
                methods: {
                    add() {
                        this.persons.unshift({
                            id: '04',
                            name: 'D',
                            age: 80
                        })
                    }
                }
            })
        </script>
</body>

</html>