<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例——插值语法</title>
    <script type="text/javascript" src="../JS/vue.js"></script>
</head>

<body>
    <!-- 插值语法处理复杂逻辑时 不合适 -->
    <div id="demo">
        firstName:<input type="text" v-model='firstName'><br>
        lastName:<input type="text" v-model='lastName'><br>
        fullName:<span>{{firstName}}-{{lastName}}</span><br>
        fullName:<span>{{firstName.slice(0,3)}}-{{lastName}}</span>
    </div>
    <script type="text/javascript">
        const vm = new Vue({
            el: '#demo',
            data: {
                firstName: 'Ann',
                lastName: 'Smith'
            }
        })
    </script>
</body>

</html>